/*---------------------------------------------
  Font
---------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/*---------------------------------------------
  Utility
---------------------------------------------*/

:root {
  --primary-color: #0b0f18;
  --secondary-color: #131417;
  --brand-color: #f1960e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

p,
ul,
ol {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  color: #ffffff;
}

b,
strong {
  font-weight: 600;
  color: var(--brand-color);
}

a.button {
  position: relative;
  background: linear-gradient(0deg, var(--brand-color), #e4ef87);
  box-shadow: 0 3px 0 0 rgb(241 150 14 / 40%), 0 3px 5px 0px rgb(12 9 4 / 35%);
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  top: 0;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 0 4px 5px rgb(28 31 50 / 20%);
  text-decoration: none;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  transition: 0.3s;
}

a.button:hover {
  top: 2px;
  box-shadow: 1px 0 0 rgb(241 150 14 / 40%), 0 1px 5px 0px rgb(12 9 4 / 35%);
}

button {
  position: relative;
  display: inline-block;
  background: linear-gradient(0deg, var(--brand-color), #e4ef87);
  box-shadow: 0 3px 0 0 rgb(241 150 14 / 40%), 0 3px 5px 0px rgb(12 9 4 / 35%);
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  top: 0;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 0 4px 5px rgb(28 31 50 / 20%);
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
button:focus {
  top: 2px;
  box-shadow: 1px 0 0 rgb(241 150 14 / 40%), 0 1px 5px 0px rgb(12 9 4 / 35%) !important;
}

img {
  max-width: 100%;
}

svg {
  position: relative;
  z-index: 1;
}

section {
  position: relative;
  margin-top: 100px;
  z-index: 1;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
  color: #a8a8a8;
  margin-bottom: 25px;
}

.section-title strong {
  display: block;
  color: var(--brand-color);
  font-weight: 700;
  font-size: 48px;
}

/*---------------------------------------------
  Preloader
---------------------------------------------*/

#loader {
  position: relative;
  z-index: 40;
}

#loader .loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, #0b0f18, #131417);
  color: #ededed;
}

#loader .logo-wrapper {
  position: relative;
}

#loader .logo-wrapper .logo-spinner {
  position: relative;
  height: 128px;
  width: 128px;
  animation: spin 1s linear infinite;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  border-left-color: #f1960e;
  border-right-color: rgb(0 0 0/0.05);
  border-top-color: rgb(0 0 0/0.05);
  border-bottom-color: rgb(0 0 0/0.05);
}

#loader .logo-wrapper .logo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85%;
  width: 85%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: rgb(0 0 0/0.05);
  padding: 1.3rem;
  text-align: center;
}

#loader .logo-wrapper .logo-image img {
  height: 100%;
  max-width: 100%;
}

#loader .loader-status {
  padding: 0 10px;
  text-align: center;
  line-height: 28px;
}

#loader .loader-status h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

#loader .loader-status noscript {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 5px;
  display: block;
  width: fit-content;
  border-radius: 5px;
  background: #ef4444;
  padding: 2px 5px;
  color: #ededed;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*---------------------------------------------
  Navbar
---------------------------------------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 4;
}

header.navbar-scroll {
  backdrop-filter: blur(40px);
}

header .navbar-brand {
  width: 150px;
}

header .navbar-wrapper {
  text-align: right;
}

header .navbar-wrapper .navbar-menu {
  margin-bottom: 0;
}

header .navbar-wrapper .navbar-menu li {
  display: inline-block;
}

header .navbar-wrapper .navbar-menu li a {
  padding: 10px 0px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none !important;
}

header .navbar-wrapper .navbar-menu li a {
  padding: 5px 20px;
  border-radius: 30px;
  transition: 0.3s;
}

header .navbar-wrapper .navbar-menu li a:hover {
  background: var(--brand-color);
  border-radius: 30px;
}

header .navbar-wrapper .navbar-menu li a.active {
  background: var(--brand-color);
}

header .navbar-wrapper .navbar-toggler {
  display: inline-block;
}

header .navbar-wrapper .navbar-toggler i {
  font-size: 30px;
  color: #ffffff;
  vertical-align: middle;
}

header .mobile-navbar {
  width: 83.3% !important;
  max-width: 384px;
  height: calc(100vh);
  background: var(--secondary-color);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
}

header .mobile-navbar .mobile-navbar-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
}

header .mobile-navbar .mobile-navbar-header .mobile-navbar-close i {
  font-size: 30px;
  color: #ffffff;
  vertical-align: middle;
}

header .mobile-navbar .mobile-navbar-body {
  position: relative;
  padding: 20px;
  overflow-y: scroll;
}

header .mobile-navbar .navbar-wrapper {
  text-align: left;
}

header .mobile-navbar .navbar-wrapper .navbar-menu li {
  display: block;
  margin-bottom: 20px;
}

/*---------------------------------------------
  Header
---------------------------------------------*/

#hero {
  min-height: 100vh;
  padding-top: 300px;
  margin: 0;
}

#hero:before {
  content: "";
  position: absolute;
  background-image: url("../img/background.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#hero:after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, var(--primary-color) 1%, transparent 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#hero h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
  filter: drop-shadow(2px 2px 5px #000000);
}

#hero p {
  text-align: justify;
  filter: drop-shadow(2px 2px 5px #000000);
}

#hero .server-image {
  width: 300px;
  height: 300px;
}

#hero .server-status {
  background: linear-gradient(0deg, #008000, #17e117);
  box-shadow: 0 3px 0 0 rgb(0 128 0 / 40%), 0 3px 5px 0px rgb(12 9 4 / 35%);
  cursor: initial;
}

#hero .server-status:hover,
#hero .server-status:focus {
  top: 0;
  box-shadow: 0 3px 0 0 rgb(0 128 0 / 40%), 0 3px 5px 0px rgb(12 9 4 / 35%) !important;
}

#hero .arrow {
  margin-top: 10vh;
  margin-bottom: 20vh;
  animation: up-down 1.5s infinite;
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 1199px) {
  #hero {
    padding-top: 150px;
  }

  #hero .server-image {
    display: none;
  }
}

/*---------------------------------------------
  Alert
---------------------------------------------*/

.alert {
  position: relative;
  display: block;
  margin: 32px 0;
  padding: 24px 24px 10px 50px;
  background-color: rgb(245, 247, 249);
  border-left: 4px solid;
  border-color: var(--brand-color);
  border-radius: 5px;
}

.alert-icon {
  position: absolute;
  display: block;
  top: 23px;
  left: 16px;
  font-size: 24px;
}

.alert-text {
  color: #131b2d;
}

.alert .close {
  position: absolute;
  background: transparent;
  box-shadow: none !important;
  top: -5px;
  right: 5px;
  padding: 0;
  font-size: 25px;
  color: var(--brand-color);
  text-shadow: none;
}

/*---------------------------------------------
  About
---------------------------------------------*/

#about {
  padding-bottom: 100px;
}

/*---------------------------------------------
  Games
---------------------------------------------*/

#games {
  margin: 0;
  padding: 50px 0;
  background-color: #131417;
}

#games .swiper-slide {
  transition: 0.3s;
}

#games .swiper-slide:not(.active) {
  transform: scale(0.9);
  z-index: -1;
}

#games .swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

#games .slider-item-detail {
  text-align: center;
}

#games .slider-item-detail h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--brand-color);
  margin-top: 40px;
}

#games .slider-item-detail h4 {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
}

#games .games-swiper-button-prev,
#games .games-swiper-button-next {
  position: absolute;
  background-color: var(--brand-color);
  top: 40%;
  width: 30px;
  height: 30px;
  transform: rotate(45deg) translateY(-40%);
  z-index: 2;
}

#games .games-swiper-button-prev {
  left: 15%;
}

#games .games-swiper-button-next {
  right: 15%;
}

#games .games-swiper-button-prev i,
#games .games-swiper-button-next i {
  transform: rotate(-45deg);
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

/*---------------------------------------------
  Partners
---------------------------------------------*/

#sponsor {
  margin: 0;
  padding: 100px 0;
  background-color: transparent;
}

#sponsor .sponsor-image {
  width: auto;
  height: 300px;
  margin-bottom: 20px;
}

#sponsor p {
  text-align: justify;
}

#sponsor .sponsor-cards {
  margin-top: 20px;
}

#sponsor .sponsor-card img {
  width: 250px;
}

@media screen and (max-width: 321px) {
  #sponsor .sponsor-image {
    height: 140px;
  }
}

@media screen and (max-width: 480px) {
  #sponsor .sponsor-image {
    height: 200px;
  }
}

/*---------------------------------------------
  Testimonials
---------------------------------------------*/

#testimonials {
  margin: 0;
  padding: 100px 0;
  background-color: #131417;
}

#testimonials .testimonials-swiper {
  margin-top: 20px;
  text-align: center;
}

#testimonials .testimonials-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#testimonials .testimonials-card h5 {
  margin-bottom: 5px;
  font-size: 25px;
}

#testimonials .testimonials-card div {
  max-height: 130px;
  overflow-y: scroll;
}

#testimonials .testimonials-card p {
  margin: 0;
  font-size: 14px;
  text-align: justify;
}

#testimonials .testimonials-buttons {
  margin-top: 5px;
  text-align: center;
}

#testimonials .testimonials-buttons button {
  background: transparent;
  box-shadow: none !important;
  border: none;
  top: 0;
  padding: 0;
}

#testimonials .testimonials-buttons button img,
#testimonials .testimonials-buttons button img {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 1199px) {
  #testimonials .testimonials-cards {
    margin-top: 20px;
  }
}

/*---------------------------------------------
  Footer
---------------------------------------------*/

footer {
  position: relative;
  background-color: #25222a;
  padding-top: 150px;
  padding-bottom: 50px;
  margin-top: -100px;
  font-size: 14px;
  color: #ffffff;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #ffffff;
}

footer .footer-about span,
footer .footer-store span {
  display: block;
  font-size: 14px;
  color: #ffffff;
}

footer .footer-social {
  text-align: center;
}

footer .footer-social .copyright {
  font-size: 14px;
  color: #ffffff;
}

footer .footer-social img {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

footer .footer-social .copyright a {
  color: var(--brand-color);
  text-decoration: none;
}

footer .footer-social .socials {
  margin-top: 20px;
}

footer .footer-social .socials a {
  margin: 0 2px;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}

footer .footer-social .socials a.discord {
  background: #5865f2;
  padding: 8px 10px;
}

footer .footer-social .socials a.twitter {
  background: #1d9bf0;
  padding: 8px 10px;
}

footer .footer-social .socials a.facebook {
  background: #1877f2;
  padding: 8px 10px;
}

footer .footer-store a {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  footer .container .row > div {
    margin: 25px 0px;
    text-align: center;
  }

  footer .footer-social img {
    max-width: 250px;
    margin: 0 auto;
  }
}
