:root {
    --background: hsl(0, 0%, 7%);
    --text-color: hsl(0, 0%, 94%);
    --btn-background: hsl(341, 100%, 68%);
    --btn-background-dark: hsl(341, 63%, 51%);
    --btn--accent: hsl(0, 0%, 9%);
    --btn-color: hsl(0, 0%, 7%);
    --trademark-color: hsl(0, 0%, 94%);
    --swal-background: hsl(0, 0%, 5%);
}